<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Pronostics</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <style>
        h1 {
            margin-bottom: 10px;
        }
    </style>
    <%- include('../Partials/navbar') %>

    <div class="mid annonce">
        <% if(annonces) { %>
            <% annonces.forEach(annonce => { %>
                <div>
                    <h1>Dernière annonce :</h1>
                    <br>
                            <h3><%= annonce.titre %></h3>
                            <p><%= annonce.description %></p>
                            <br>
                            <p>Le : <strong><%= new Date(annonce.dateAnnonce).toLocaleDateString("fr-FR") %> à <%= new Date(annonce.dateAnnonce).toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" }) %></strong></p>
                            <p>Par <strong><%= annonce.userId.prenom %> <%= annonce.userId.nom%></strong></p>
                    </div>    
                <% }) %>
        <% } %>

    </div>
    
    <!-- Affichage des statistiques -->
    <div class="mid">
        <ul class="stats">
            <h3>Statistiques des Pronostics :</h3>
            <br>
            <p><strong>Total des pronostics :</strong> <%= totalPronostics %></p>
            <p><strong>Pronostics gagnés :</strong> <%= pronosticsGagnes %></p>
            <p><strong>Pronostics perdus :</strong> <%= pronosticsPerdus %></p>
            <p><strong>Ratio des pronostics gagnés :</strong> <%= ratio %> %</p>
        </ul>
    </div>
    <div class="annonce">
        <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
        <h2>Pronostic en attente :</h2>
    </div>
    
    <!-- Pronostics EN ATTENTE -->
    <div class="mid">  
        <% pronosEnAttente.forEach(prono => { %>
            <ul class="pronosbis">
                <li>
                    <strong>
                        Paris <%= prono.typePari %> 
                        côté à 
                        <% if(prono.typePari === "Combiné" ) {%>
                            <strong><%= prono.cote %></strong> <!-- Cote finale du combiné ou pari simple -->
                        <% } else {%>
                                <% prono.matchs.forEach(match => { %>
                                    <strong><%= match.cote %></strong> 
                                <% }); %>
                        <% } %>
                        du <%= new Date(prono.createdAt).toLocaleDateString("fr-FR") %> à <%= new Date(prono.createdAt).toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" }) %>
                    </strong> %>
                </li>

                <li>
                    <tr>
                        <td colspan="5">
                            <% prono.matchs.forEach(match => { %>
                                --- <strong><%= match.equipeDomicile %> vs <%= match.equipeExterieur %></strong>
                                <br> 
                                le <%= new Date(match.date).toLocaleDateString("fr-FR") %>
                                <br>
                                <strong><%= match.typePrediction %> :</strong> <%= match.prediction %> 
                                <br>
                                <strong>Cote :</strong> <%= match.cote %>
                                <br>
                                <% }); %>
                        </td>
                    </tr>
                </li>
                <li>

                    <% if (user?.role === "admin") { %>
                        <form action="/<%= prono._id %>/statut" class="form"npm start method="POST" >
                            <select name="statut">
                                <option value="En Attente" <%= prono.statut === "En Attente" ? "selected" : "" %>>En attente</option>
                                <option value="Gagné" <%= prono.statut === "Gagné" ? "selected" : "" %>>Gagné</option>
                                <option value="Perdu" <%= prono.statut === "Perdu" ? "selected" : "" %>>Perdu</option>
                            </select>
                            <button type="submit">Mettre à jour</button>
                        </form>
                    <% } %>
                </li>
                </ul>
        <% }); %>
</div>

<h2 class="mid annonce">Pronostics terminés :</h2>
<!-- Pronostics TERMINÉS -->
<div class="mid">
        <% pronosTermines.forEach(prono => { %>
            <ul class="pronos">
                <% if(prono.statut === "Gagné") {%>
                <h1 class="statuty">
                <% }else { %>
                    <h1 class="statutn">
                <% } %>
                <%= prono.statut %></h1>
                <li>
                    <strong>
                        Paris <%= prono.typePari %> 
                        côté à 
                        <% if(prono.typePari === "Combiné" ) {%>
                            <strong><%= prono.cote %></strong> <!-- Cote finale du combiné ou pari simple -->
                        <% } else {%>
                                <% prono.matchs.forEach(match => { %>
                                    <strong></strong> <%= match.cote %>
                                <% }); %>
                        <% } %>
                        du <%= new Date(prono.createdAt).toLocaleDateString("fr-FR") %> à <%= new Date(prono.createdAt).toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" }) %>
                    </strong>
                    <br>
                </li>

                <li>
                    <tr>
                        <td colspan="5">
                                <% prono.matchs.forEach(match => { %>
                                    --- <strong><%= match.equipeDomicile %> vs <%= match.equipeExterieur %></strong>
                                    <br> 
                                    le <%= new Date(match.date).toLocaleDateString("fr-Fr") %>
                                    <br>
                                    <strong><%= match.typePrediction %> :</strong> <%= match.prediction %> 
                                    <br>
                                    <strong>Cote :</strong> <%= match.cote %>
                                    <br>
                                    <% }); %>
                        </td>
                    </tr>
                </li>
                <li>

                    <% if (user?.role === "admin") { %>
                        <form action="/<%= prono._id %>/statut" class="form" method="POST">
                            <select name="statut">
                                <option value="En Attente" <%= prono.statut === "En Attente" ? "selected" : "" %>>En attente</option>
                                <option value="Gagné" <%= prono.statut === "Gagné" ? "selected" : "" %>>Gagné</option>
                                <option value="Perdu" <%= prono.statut === "Perdu" ? "selected" : "" %>>Perdu</option>
                            </select>
                            <button type="submit">Mettre à jour</button>
                        </form>
                    <% } %>
                </li>

                <!-- Affichage des commentaires -->
                <% if (prono.commentaires.length === 0) { %>
                    <p>Aucun commentaire pour le moment.</p>
                <% } else { %>
                    <div class="commentaire">
                        <% prono.commentaires.forEach(commentaire => { %>
                    <div class="commentaire-item">
                        <% if (user?.role === "user") { %>
                            <p class="little">
                                <em><%= commentaire.auteur %></em> : <strong><%= commentaire.contenu %></strong> 
                                <em><%= new Date(commentaire.date).toLocaleDateString("fr-FR") %> à <%= new Date(commentaire.date).toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" }) %></em>
                            </p>
                        <% } else if (user?.role === "admin") { %>
                            <div class="flex-container">
                                <p class="little">
                                    <em><%= commentaire.auteur %></em> : <strong><%= commentaire.contenu %></strong> 
                                    <em><%= new Date(commentaire.date).toLocaleDateString("fr-FR") %> à <%= new Date(commentaire.date).toLocaleTimeString("fr-FR", { hour: "2-digit", minute: "2-digit" }) %></em>
                                </p>
                                <form action="/<%= prono._id %>/commentaire/<%= commentaire._id %>?_method=DELETE" id="commentaire-form" method="POST">
                                    <button type="submit">Supprimer</button>
                                </form>
                            </div>
                        <% } %>
                    </div>

                        <% }); %>
                    </div>
                <% } %>

                <!-- Formulaire pour ajouter un commentaire -->
                <% if (user) { %>
                    <form action="/<%= prono._id %>/commentaire" id="commentaire-form" class="form" method="POST">
                        <input type="hidden" name="auteur" value="<%= user.prenom %>" required>
                        <label for="contenu">Commentaire</label>
                        <textarea maxlength="50" id="commentaire-textarea" placeholder="Maximum 50 caractères..." required name="contenu"></textarea>
                        <button type="submit">Ajouter un commentaire</button>
                    </form>      
                <% } %>
            </li>
        </ul>
        <% }); %>
</div>
    <%- include('../Partials/footer') %>
    <script>
        // Sauvegarde la position du scroll avant l'envoi du formulaire
        document.addEventListener("DOMContentLoaded", function () {
            if (sessionStorage.getItem("scrollPosition")) {
                window.scrollTo(0, sessionStorage.getItem("scrollPosition"));
                sessionStorage.removeItem("scrollPosition");
            }
    
            document.querySelectorAll("form").forEach(form => {
                form.addEventListener("submit", function () {
                    sessionStorage.setItem("scrollPosition", window.scrollY);
                });
            });
        });

        function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
    
    if(h == 0){
        h = 12;
    }
    
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;
    
    setTimeout(showTime, 1000);
    
}

showTime();

    document.addEventListener("DOMContentLoaded", () => {
        const textarea = document.querySelector("#commentaire-textarea"); // Sélectionne le textarea
        const form = document.querySelector("#commentaire-form"); // Sélectionne le formulaire

        textarea.addEventListener("keypress", (event) => {
            if (event.key === "Enter" && !event.shiftKey) { 
                event.preventDefault(); // Empêche le retour à la ligne
                form.submit(); // Soumet le formulaire
            }
        });
    });

    </script>
    
</body>
</html>
