<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title><%= user.nom %></title>
</head>
<body>
    <style>
        .div p, strong{
            font-size: 1.5rem;
            padding-top: 10px;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .div {
        margin: 20px auto;
        padding: 20px;
        max-width: 600px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 15px 20px rgb(255, 255, 255);
    }

    .a {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    a {
            font-size: 1.3rem;
            color: rgb(94, 94, 94);
            text-decoration: none;
            padding-top: 75px;
        }

        a:hover {
            color: rgb(0, 0, 0);
            transition: color 0.3s ease-in-out;
        }
        @media (max-width: 768px) {
            *{
                box-sizing: content-box;
            }

            body{
                padding-top: 50px;
            }

            .div {
                padding: 15px;
                margin: 10px;
                max-width: 90%;
            }

            .div p, strong {
                font-size: 1.2rem;
            }

            a {
                font-size: 1rem;
                padding-top: 15px;
            }

            .a {
                flex-direction: column;
                align-items: center;
                margin-top: 5px;
            }

            .a a {
                margin-bottom: 10px;
            }
        }
    </style>
    <%- include('../Partials/navbar') %>
    <div class="div">
        <% if (success_msg2) { %>
            <div class="flash-message success"><%= success_msg2 %></div>
        <% } %>
        <p><strong><%= user.nom %> <%= user.prenom %></strong></p>
        <p><strong>Tu es : </strong><%= user.role %></p>
        <p><strong>Statut : </strong><%= user.status %></p>
        <div class="a">
            <a href="/deleteuser/<%= user._id %>">Supprimer mon compte</a>
            <a href="/">Retour à l'Accueil</a>
            <a href="/compte">Retour au compte</a>
        </div>
    </div>
</body>
</html>
